# Eclipse files #
.settings
.classpath
.project
.factorypath

# Idea files #
.idea
*.iml

# Maven files #
target

# jdbc-conf file #
src/main/resources/conf/jdbc-conf.properties
src/main/resources/conf/activemq.properties

# Apple file #
.DS_Store
.tern-project
